<app-header></app-header>
<app-top-nav (dateChange)="setStartDate($event)"></app-top-nav>
<div class="row">
  <div class="title">
    <a *ngIf="user?.role === 'admin'" routerLink="/admin"><i class="pi pi-arrow-left"></i></a>
    Log Time
  </div>
  <div class="tableContainer">
    <p-table responsiveLayout="scroll" [value]="timesheetArr" [formGroup]="timesheetForm">
      <ng-template pTemplate="header">
        <tr>
          <th class="required">Projects</th>
          <th class="required">Tasks</th>
          <th>
            <div class="day">Sun</div>
            <div class="date"> {{ startDate | date : 'MMM d' }} </div>
          </th>
          <th>
            <div class="day">Mon</div>
            <div class="date"> {{ monDate | date : 'MMM d' }} </div>
          </th>
          <th>
            <div class="day">Tue</div>
            <div class="date"> {{ tueDate | date : 'MMM d' }} </div>
          </th>
          <th>
            <div class="day">Wed</div>
            <div class="date"> {{ wedDate | date : 'MMM d' }} </div>
          </th>
          <th>
            <div class="day">Thu</div>
            <div class="date"> {{ thuDate | date : 'MMM d' }} </div>
          </th>
          <th>
            <div class="day">Fri</div>
            <div class="date"> {{ friDate | date : 'MMM d' }} </div>
          </th>
          <th>
            <div class="day">Sat</div>
            <div class="date"> {{ satDate | date : 'MMM d' }} </div>
          </th>
          <th>Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-fi="rowIndex" formArrayName="timesheetArr">
        <tr [formGroupName]="fi">
          <td>
            <input class="inp-txt" type="text" pInputText placeholder="Project Name" formControlName="project">
          </td>
          <td>
            <input class="inp-txt" type="text" pInputText placeholder="Task Name" formControlName="task">
          </td>
          <td>
            <input type="time" pInputText placeholder="0:00" formControlName="sunTime">
          </td>
          <td>
            <input type="time" pInputText placeholder="0:00" formControlName="monTime">
          </td>
          <td>
            <input type="time" pInputText placeholder="0:00" formControlName="tueTime">
          </td>
          <td>
            <input type="time" pInputText placeholder="0:00" formControlName="wedTime">
          </td>
          <td>
            <input type="time" pInputText placeholder="0:00" formControlName="thuTime">
          </td>
          <td>
            <input type="time" pInputText placeholder="0:00" formControlName="friTime">
          </td>
          <td>
            <input type="time" pInputText placeholder="0:00" formControlName="satTime">
          </td>
          <td class="remove-col">
            <input type="text" pInputText placeholder="0:00" formControlName="totalTime">
            <button class="remove-icon" (click)="removeRow(fi)" [disabled]="timesheetArr.length === 1">
              <i class="pi pi-times"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="fi === timesheetArr.length - 1" class="last">
          <td class="add-col">
            <button class="add-btn" (click)="addRow()">
              <div class="add-icon">
                <i class="pi pi-plus"></i>
              </div>
              Add New
            </button>
          </td>
          <td></td>
          <td> {{ totalPerDay.sunTime ? totalPerDay.sunTime : '00:00' }} </td>
          <td> {{ totalPerDay.monTime ? totalPerDay.monTime : '00:00' }} </td>
          <td> {{ totalPerDay.tueTime ? totalPerDay.tueTime : '00:00' }} </td>
          <td> {{ totalPerDay.wedTime ? totalPerDay.wedTime : '00:00' }} </td>
          <td> {{ totalPerDay.thuTime ? totalPerDay.thuTime : '00:00' }} </td>
          <td> {{ totalPerDay.friTime ? totalPerDay.friTime : '00:00' }} </td>
          <td> {{ totalPerDay.satTime ? totalPerDay.satTime : '00:00' }} </td>
          <td> {{ grandTotal }} </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="row total-hours">
  <div class="col-9"></div>
  <div class="col-3">
    <h3>Total Hours: &nbsp; <span> {{ grandTotal }} </span></h3>
  </div>
</div>
<p-toast key="toast"></p-toast>
