@import './../../../assets/scss/variables';

.row {
  margin: 10px 30px;
  .title {
    color: $primary;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    a {
      .pi {
        color: $primary;
        font-size: 14px;
        font-weight: 600;
        margin-right: 10px;
      }
    }
  }
  .tableContainer {
    margin-top: 20px;
    input {
      height: 30px;
      width: 70px;
      font-size: 14px;
    }
    .inp-txt {
      width: 200px !important;
    }
    tr {
      border-top: 1px solid $border;
      th {
        font-size: 15px;
        background-color: $white;
        color
        .day {
          font-size: 14px;
          color: $primary;
        }
        .date {
          font-size: 14px;
          font-weight: 400;
          color: $dark-grey;
        }
      }
      td {
        background-color: $light-grey;
        padding: 16px 10px;
      }
      td.remove-col {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        .remove-icon {
          margin-left: 10px;
          width: 18px;
          height: 18px;
          background-color: $yellow;
          color: $white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          cursor: pointer;
          .pi {
            font-size: 10px;
            font-weight: 700;
            color: $white;
          }
        }
        .remove-icon:hover {
          cursor: pointer;
        }
        .remove-icon:disabled {
          cursor: not-allowed;
        }
      }
    }
    tr.last {
      td {
        background-color: $white;
        color: $th-black;
        font-size: 15px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
      }
      td.add-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .add-btn {
          width: 92px;
          outline: none;
          border: none;
          padding: 0;
          background: transparent;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          font-weight: 500;
          color: $primary;
          cursor: pointer;
          .add-icon {
            width: 20px;
            height: 20px;
            background-color: $yellow;
            color: $white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .pi {
              font-size: 12px;
              font-weight: 700;
            }
          }
        }
        .add-btn:hover {
          cursor: pointer;
        }
        .add-btn:disabled {
          cursor: not-allowed;
        }
      }
      td:nth-last-child(1) {
        padding-right: 40px;
      }
    }
  }
}
.total-hours {
  margin-top: 50px;
  h3 {
    color: $primary;
    font-weight: 700;
    span {
      color: $yellow;
    }
  }
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

.required:after {
  content:" *";
  color:red;
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blur;
  z-index: 999;
}
