@import './../../../assets/scss/variables';

.row {
  background-color: $primary;
  height: 60px;
  .col-2 {
    .title {
      color: $white;
      font-size: 24px;
      font-weight: 500;
    }
    .user-name {
      color: $white;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .col-1 {
    .pi {
      color: $white;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
