<app-header></app-header>
<app-top-nav (dateChange)="setStartDate($event)"></app-top-nav>
<div class="row">
  <div class="col-12">
    <div class="title">
        <p>Admin</p>
    </div>
    <div class="tableContainer">
          <p-table [value]="userStatusList" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Employee Name</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.status}}</td>
                    <td>
                        <button pButton type="button" label="View" class="p-button-info view-btn" (click)="view(user.userId)"></button>
                    </td>
                  </tr>
            </ng-template>
        </p-table>
    </div>
  </div>
</div>
<p-toast key="toast"></p-toast>
<div *ngIf="spinner" class="spinner">
  <p-progressSpinner></p-progressSpinner>
</div>
