<div class="login-container">
  <p-card>
    <div class="row">
      <div class="col-6 bg-primary">
        <div class="title">
          Timesheet
        </div>
        <img src="assets/images/login-img.png" alt="">
      </div>
      <div class="col-6 d-flex align-items-center justify-content-center">
        <form class="login-form" [formGroup]="loginForm" (submit)="login()">
          <h4>Login</h4>
          <hr>
          <h6 class="mt-4 required">Email Address</h6>
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText placeholder="Email" formControlName="email">
          </div>
          <h6 class="mt-4 required">Password</h6>
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
              <input type="password" pInputText placeholder="Password" formControlName="password">
          </div>
          <div class="d-flex flex-direction-col justify-content-between">
            <div class="checkbox">
              <p-checkbox [binary]="true" inputId="rememberMe" formControlName="rememberMe"></p-checkbox>
              <label for="rememberMe">Remember me</label>
            </div>
            <a>Forgot Password?</a>
          </div>
          <button pButton pRipple type="submit" label="Login" class="login-btn"></button>
          <div class="register-btn">
            <a routerLink="/register">Click here to register</a>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
