@import './../../../assets/scss/variables';

.row {
  width: 100%;
  margin: 0;
  height: 50px;
  background-color: $grey;
  display: flex;
  position: sticky;
  top: 60px;
  z-index: 1;
  .title {
    font-weight: 700;
  }
  .p-button-text {
    background-color: $white;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: 500;
  }
  .p-button-success, .p-button-danger {
    height: 35px;
    margin-right: 15px;
    border-radius: 5px;
    font-weight: 500;
  }
  .status-btn:disabled {
    opacity: 1 !important;
    cursor: default !important;
  }
  .date-btn {
    border: solid 3px rgb(17, 146, 197);
    width: 30px;
    height: 30px;
    opacity: 0.9;
    .pi {
      color: rgb(17, 146, 197);
      font-size: 24px;
    }
    .pi-angle-left {
      margin-left: -6px;
    }
    .pi-angle-right {
      margin-left: -4px;
    }
  }
  .date-txt {
    width: 220px;
    height: 30px;
    margin: 0 5px;
    background-color: $white;
  }
}
button:disabled {
  cursor: not-allowed;
}
