<div class="row">
  <div class="col-2 d-flex align-items-center justify-content-center title">
    Time Card
  </div>
  <div class="col-7 d-flex align-items-center justify-content-center">
    <div class="d-flex flex-direction-row">
      <button class="date-btn" (click)="changeWeek('prev')">
        <i class="pi pi-angle-left"></i>
      </button>
      <div class="date-txt d-flex align-items-center justify-content-center">
        {{ startDate | date : 'MMM d, y' }} - {{ endDate | date : 'MMM d, y' }}
      </div>
      <button class="date-btn" (click)="changeWeek('next')">
        <i class="pi pi-angle-right"></i>
      </button>
    </div>
  </div>
  <div *ngIf="path === 'timesheet'" class="col-3 d-flex flex-direction-row align-items-center justify-content-end">
    <button *ngIf="user?.role === 'user'" pButton pRipple class="p-button-success p-button-plain" [disabled]="true">Approved</button>
    <button *ngIf="user?.role === 'user'" pButton pRipple class="p-button-text p-button-plain">Submit</button>
    <button *ngIf="user?.role === 'admin'" pButton pRipple class="p-button-success p-button-plain">Approve</button>
    <button *ngIf="user?.role === 'admin'" pButton pRipple class="p-button-danger p-button-plain">Reject</button>
  </div>
</div>
